.indexHeader {
  max-width: 30%;
  padding: 20px;
}
@media screen and (max-width: 991px) {
  .indexHeader {
    padding-top: 60px;
    max-width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .indexHeader {
    max-width: 100%;
  }
}
.projectTypeWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 80%;
  margin: auto;
  padding-top: 1em;
}
.projectTypeWrapper2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 65%;
  margin: auto;
  margin-top: -1em;
}
.projectType {
  max-width: 380px;
  max-height: 500px;
  padding-top: 3em;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}
.projectTypeTitle {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 20px 0px;
  color: #6b6c72;
  cursor: pointer;
}
/* motion is yellow */
.doubleHoverMotion {
  height: fit-content;
  width: fit-content;
  margin: auto;
}
.doubleHoverMotion:hover > a > svg > g > .svgHoverStroke {
  transition: stroke 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  stroke: #fbbc05;
  background: #fbbc05;
}
.doubleHoverMotion:hover > a > svg > g > .svgHoverFill {
  transition: fill 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  fill: #fbbc05;
  background: #fbbc05;
}
.doubleHoverMotion:hover .sliding-middle-out:after {
  width: 100%;
  background: #fbbc05;
}
.doubleHoverMotion:hover .sliding-middle-out {
  color: #fbbc05;
}

/* prototypes is green */
.doubleHoverProto {
  height: fit-content;
  width: fit-content;
  margin: auto;
}
.doubleHoverProto:hover > a > svg > g > .svgHoverStroke {
  transition: stroke 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  stroke: #34a853;
  background: #34a853;
}
.doubleHoverProto:hover > a > svg > g > .svgHoverFill {
  transition: fill 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  fill: #34a853;
  background: #34a853;
}
.doubleHoverProto:hover .sliding-middle-out:after {
  width: 100%;
  background: #34a853;
}
.doubleHoverProto:hover .sliding-middle-out {
  color: #34a853;
}
/* tools is red */
.doubleHoverTools {
  height: fit-content;
  width: fit-content;
  margin: auto;
}
.doubleHoverTools:hover > a > svg > g > .svgHoverStroke {
  transition: stroke 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  stroke: #ea4335;
  background: #ea4335;
}
.doubleHoverTools:hover > a > svg > g > .svgHoverFill {
  transition: fill 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  fill: #ea4335;
  background: #ea4335;
}
.doubleHoverTools:hover .sliding-middle-out:after {
  width: 100%;
  background: #ea4335;
}
.doubleHoverTools:hover .sliding-middle-out {
  color: #ea4335;
}

.projectWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 5em 0;
}
.projectContent {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.projectTag {
  border: #6b6c72;
  border-style: solid;
  border-radius: 40px;
  border-width: 2px;
  color: #6b6c72;
  padding: 5px 20px;
  margin: 10px 10px 0px 0px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  min-width: 80px;
}
.projectTagsWrapper {
  width: 100%;
}
.projectTitle {
  font-size: 2em;
  font-weight: 700;
  padding-bottom: 10px;
}

.projectDesc {
  font-size: 1.1em !important;
}
.projectVideo {
  position: relative;
  width: 100%;
  text-align: center;
  border-radius: 6px 6px 0px 0px;
  background: white;
}
.tagsAndVideoWrapper {
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  background: #f7f7f7;
  box-shadow: 0 6px 11px rgba(0, 0, 0, 0.17);
  width: 100%;
}

.embed-responsive-item {
  /* overflow: hidden; */
  margin-bottom: -6px;
  border-radius: 6px 6px 0px 0px;
  clip-path: inset(1px 1px);
}
.smallVideo {
  max-width: 350px;
}
.fullScreenVideo {
  max-width: 600px;
}
.moreDetails {
  font-size: 1.3rem;
  margin: 10px 0px;
  display: block;
  margin: auto;
}
.moreDetailsWrapper {
  width: 100%;
  display: flex;
  padding-top: 10px;
}

@media screen and (max-width: 500px) {
  .projectTag {
    font-size: 11px;
  }
}

video::-webkit-media-controls-panel {
  width: 4000px;
}
