/*
 * OUTER CSS LAYER
 */
body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Lato";
  color: black;
  position: relative;
  background-color: #f7f7f7;
  padding-top: 130px; /*150*/
  /*fade out effect */
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato";
  color: black;
  font-weight: 600;
}

p {
  line-height: 2;
  font-size: 14px;
}

.lead {
  font-weight: 400;
  color: #616161;
  font-size: 1.1em !important;
}

.quote {
  font-style: italic;
  color: #b08449 !important;
  font-size: 1.3em !important;
  margin-bottom: 2em;
  margin-top: 2em;
  word-spacing: 3px;
  text-align: justify;
}

.remove-padding {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}
/* navbar navigation text css */
.navbar-brand {
  font-family: "Lato";
  margin-right: 0rem;
  font-size: 1.4em;
  font-weight: 600;
}
/* main header */
.indexheader {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  font-size: 24px;
}
/* blue line w dot sectioning piece */
.sectionbar {
  background-color: #b08449;
  font-size: 2px;
  margin-top: 2.3rem;
  line-height: 1.5;
}
/* makes sectionbar & gap between text bigger at smaller screen sizes */
.dynamicbar {
  padding-right: 0px;
  max-width: 5%;
}

.dynamictext {
  padding-left: 0px;
}

.sectiondot {
  height: 12px;
  width: 12px;
  background-color: #b08449;
  border-radius: 50%;
  display: inline-block;
  margin-top: 2rem;
}
/* contains project descriptions */
.indextext {
  margin-top: 2vw;
  margin-bottom: 60px;
  width: 100%;
}

.letstalkpad {
  padding-top: 6vw;
}
/* navbar up and down animation & gradient */
#navbar {
  position: fixed; /* Initially set to absolute so it is movable with the page */
  top: 0px;
  padding-top: 20px;
  padding-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  transition: top 200ms ease-in-out;
  -webkit-transition: top 200ms ease-in-out;
  -moz-transition: top 200ms ease-in-out;
}

.whiteNav {
  background: #ffffff;
}

.darkNav {
  background: #161616;
}

.transNav {
  background: rgba(255, 255, 255, 0);
}

.navbar-expand {
  transition: all 300ms ease !important;
  -webkit-transition: all 300ms ease !important;
  -moz-transition: all 300ms ease !important;
}

.whiteText {
  color: white !important;
}

/* navbar tab sliding animation */
.sliding-middle-out {
  display: inline-block;
  position: relative;
  color: inherit;
}

.sliding-middle-out:after {
  width: 0;
  background: black;
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  background: transparent;
  transition: width 0.2s ease, background-color 0.5s ease;
}
/* padding 0 so that section bars go to end of screen  */
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  /* disable right left scrolling */
  overflow-x: hidden;
}

.sliding-middle-out.active:after,
.sliding-middle-out:hover:after {
  width: 100%;
  padding-left: 10px;
  background: #b08449;
}

.tony-middle-out {
  display: inline-block;
  position: relative;
  color: inherit;
}

.tony-middle-out:after {
  width: 0;
  background: black;
  content: "";
  display: block;
  margin: auto;
  margin-top: 3px;
  margin-bottom: -3px;
  height: 3px;
  background: transparent;
  transition: width 0.2s ease, background-color 0.5s ease;
}

.tony-middle-out.active:after,
.tony-middle-out:hover:after {
  width: 100%;
  background: #b08449;
}

.active {
  color: #b08449 !important;
}

h1 {
  /* else align the header at at the center */
  text-align: center;
}

.nav-elem-centerer {
  display: flex;
  justify-content: center;
}

/* BOX HOVER EFFECT */
.box {
  position: relative;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  border-radius: 2px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
}

.box:hover::after {
  opacity: 1;
}

.box3 {
  position: relative;
  display: inline-block;
  width: 800px;
  height: 310px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

/* box overlays for NDA */
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  transition: 0.3s ease-out;
  background-color: rgba(0, 0, 0, 0);
}

.box3:hover .overlay {
  background-color: rgba(0, 0, 0, .9);
}

.ndatext {
  color: #ffffff;
  font-size: 20px;
  opacity: 0;
  transition: 0.3s ease-out;
}

.box3:hover .ndatext {
  opacity: 1;
}

/* modifies the link: no underline/ navy color effect when mouse hovers over it */
a:hover,
.a:hover {
  text-decoration: none !important;
  color: inherit !important;
}

/* Horizontalally centers boxes */
/*THIS IS ABLE TO CENTER PROPERLY AND ASSIGN MARGINS W/ MIN WIDTH PADDING, HOWEVER CAN'T RENAME AND REUSE W/ DIFFERENT WIDTHS?!*/
.modal-dialog {
  position: relative;
  display: table;
  overflow-y: auto;
  overflow-x: auto;
  width: auto;
  height: auto;
  min-width: 90%;
}

/* horizontally centers elements inside box */
.modal-dialog-three {
  position: relative;
  display: table;
  overflow-y: auto;
  overflow-x: auto;
  width: auto;
  height: auto;
  min-width: 50%;
}
/* horizontally centers elements inside box */
.modal-dialogtwo {
  width: auto;
  height: auto;
}

.row-centerer {
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 414px) {
  .row-centerer {
    width: 100%;
  }
}

.vertical-align {
  display: flex;
  align-items: center;
}

/*adds and removes padding for resume and about me in index*/
.resumeaboutpad {
  margin-top: 30px;
}
/* dynamic resume */
.dynResume {
  max-width: 65%;
  display: block;
  margin: auto;
}

/*about me default font size*/
.aboutmefont {
  font-size: 20px;
  font-size: 1.7vw;
  font-weight: 300;
}

/* EACH ROW FOR BOXES (INCLUDES BACKGROUND) */
.content-section-a {
  padding: 100px 0;
  background-color: #ffffff;
}

.content-section-b {
  padding: 10px 0;
}

.content-section-c {
  padding: 10px 0;
  max-width: 50%;
}

.section-heading {
  margin-bottom: 0px;
}

.spacer {
  margin-top: 40px; /* define margin as you see fit */
}

.projectheaderspacer {
  margin-top: 22px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  /*padding: 100px 0;*/
  color: #000000;
}

.banner h2 {
  margin: 0;
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

footer {
  padding: 50px 0;
  background-color: #f8f8f8;
}

p.copyright {
  color: #c4c4ca;
  font-size: 12px !Important;
  text-align: center !important;
  margin-bottom: 20px !important;
}

/* SOCIAL BUTTON CSS */
a.btn-social,
.btn-social {
  border-radius: 50%;
  color: black;
  display: inline-block;
  height: 54px;
  line-height: 54px;
  margin: 8px 4px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  webkit-transition: background-color 0.3s;
  width: 54px;
}

.btn-social .fa,
.btn-social i {
  backface-visibility: hidden;
  moz-backface-visibility: hidden;
  ms-transform: scale(1);
  o-transform: scale(1);
  transform: scale(1);
  transition: all 0.25s;
  webkit-backface-visibility: hidden;
  webkit-transform: scale(1);
  webkit-transition: all 0.25s;
}

.btn-social:hover,
.btn-social:focus {
  outline: none;
  text-decoration: none;
}

.btn-social:hover .fa,
.btn-social:focus .fa,
.btn-social:hover i,
.btn-social:focus i {
  ms-transform: scale(1.3);
  o-transform: scale(1.3);
  transform: scale(1.3);
  webkit-transform: scale(1.3);
}

.btn-social.btn-lg {
  font-size: 22px;
  margin: 10px 20px;
  padding: 0rem 0rem;
}

/* category button */
.cat_but {
  /* background-color: #4CAF50; */
  border: white;
  border-style: solid;
  border-radius: 40px;
  border-width: 2px;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
}

/* increase carousel slide speed */
.carousel-item {
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
}

.carousel-inner {
  background: #161616;
}

/**************************** PROJECT ITEM CSS *****************************/
.descriptionspacer {
  margin-top: 15px; /* used under pictures */
}
/* descreases margin size on sides of pictures within the box */
.row-centerer2 {
  width: 99%;
  margin: auto;
}

/* horizontal allign */
.titlehoriz {
  display: flex;
  align-items: center;
  justify-content: center;
}

.theprocess {
  font-weight: 500;
  margin-bottom: 1.5em;
  margin-top: 4em !important;
  width: 100%;
  display: block;
  font-size: 2.5em;
}

.theprocessWrap {
  margin-top: -4em;
  justify-content: left;
}

#x-canvas {
  opacity: 0.25;
}

.padder {
  top: 80px;
  bottom: 80px;
}

.textwidth {
  width: 50%;
}

.respCoverPadding {
  padding-top: 20px;
}

.industrypadding {
  padding-top: -50px;
}

.navpadding {
  margin-left: 40px;
  margin-right: 40px;
}

.nav-link {
  padding: 0px 10px;
}

/* project/internship description  */
.dynamicdescription {
  max-width: 90%;
}

.dynamicthumbnail {
  max-width: 90%;
}

.white_bg {
  top: 0vh;
  background-color: white;
  height: 90vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  /* -webkit-transform: rotate(5deg);
  transform: rotate(5deg); */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 76%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 76%);
}

.fullWidthWork {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 900px) {
  .fullWidthWork {
    width: 75%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.indexSectionHeader {
  font-size: 3em;
  font-weight: 500;
  margin: auto;
  color: white;
}

.img_shadow {
  box-shadow: 0 6px 11px rgba(0, 0, 0, 0.17);
  background: white;
}

.aboutMeImg {
  width: 35%;
  margin: auto;
}

.viewCaseStudy {
  margin-left: 50px;
  font-size: 1.4rem;
  font-weight: 400;
}

.text_xsmall {
  max-width: 20%;
  min-width: 300px;
  margin: auto;
}

.text_small {
  max-width: 40%;
  min-width: 300px;
  margin: auto;
}

.text_small p .intro {
  font-weight: bold;
  color: #b08449;
}

.text_medium {
  max-width: 50%;
  min-width: 300px;
  margin: auto;
}

.imgDescription {
  text-align: center !important;
}

.img3Row {
  max-width: 20%;
  min-width: 200px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.img2Row {
  max-width: 40%;
  min-width: 300px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.img1Row {
  max-width: 55%;
  min-width: 300px;
  width: 100%;
  margin: 0;
  text-align: center;
}

.img1RowLong {
  max-width: 85%;
  min-width: 350px;
  width: 100%;
  margin: 0;
  text-align: center;
}

.vid1Row {
  max-width: 550px;
  min-width: 350px;
  width: 100%;
  padding: 20px;
  margin: auto;
}

.vid1RowLong {
  max-width: 750px;
  min-width: 350px;
  width: 100%;
  padding: 30px;
  margin: auto;
}

.tonychan {
  font-size: 1.6em;
  font-weight: 900;
}
/* Tony Chan in navbar alignment when shrinking screen */
@media screen and (min-width: 992px) {
  .tonychan {
    margin-left: 30px;
    text-align: left;
  }
}
/* aligns nav buttons from right to mid when shrinking screen*/
@media screen and (min-width: 992px) {
  .right-to-center {
    float: right;
  }
}
/*horizontally centers text/pics at small sizes*/
@media (max-width: 1824px) {
  .picCenter {
    text-align: right;
  }

  .paddingnigga {
    padding-top: 40px;
  }
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media (max-width: 990px) {
  .picCenter {
    text-align: center;
  }

  .niggacenter {
    text-align: center;
  }

  .paddingnigga {
    padding-top: 0px;
  }

  .resumeaboutpad {
    margin-top: 70px;
  }

  .dynResume {
    max-width: 100%;
    display: block;
    margin: auto;
  }
}

@media (max-width: 767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }

  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 900px) {
  .dynamictext {
    padding-left: 10px;
  }
}

@media (max-width: 800px) {
  .dynamicbar {
    padding-right: 0px;
    max-width: 10%;
  }

  .dynamictext {
    padding-left: 20px;
  }
}

@media screen and (min-height: 900px) {
  .padder {
    top: 120px;
  }
}

@media screen and (max-width: 200px), screen and (max-height: 900px) {
  .padder {
    top: 80px;
  }
}

@media screen and (max-width: 600px) {
  .textwidth {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .dynamicdescription {
    max-width: 65%;
    min-width: 300px;
    margin: auto;
    padding-bottom: 20px;
  }

  .dynamicthumbnail {
    max-width: 70%;
  }

  .text_small {
    max-width: 65%;
  }
}

@media screen and (max-width: 1100px) {
  .respCoverPadding {
    padding-top: 40px;
  }
}

@media screen and (max-width: 994px) {
  .respCoverPadding {
    padding-top: 100px;
  }
}

@media screen and (max-width: 800px) {
  .respCoverPadding {
    padding-top: 150px;
  }
}

@media screen and (max-width: 600px) {
  .respCoverPadding {
    padding-top: 180px;
  }
}

@media screen and (max-width: 414px) {
  .industrypadding {
    margin-top: 20px;
  }
}

@media screen and (max-width: 375px) {
  .navpadding {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 414px) {
  .section-heading {
    margin-top: 15px;
  }

  .white_bg {
    top: -27vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
  }

  .lead {
    text-align: left !important;
    min-width: 300px !important;
    margin: auto !important;
  }

  .aboutMeImg {
    width: 90% !important;
    padding-top: 50px;
  }

  .dynamicthumbnail {
    max-width: 80%;
  }

  .dynamicdescription {
    max-width: 80%;
  }

  .indexSectionHeader {
    font-size: 32px;
    font-weight: 500;
  }

  .viewCaseStudy {
    margin-left: 0px;
  }

  .text_small {
    max-width: 80%;
  }

  .text_xsmall {
    max-width: 80%;
  }

  .text_medium {
    max-width: 80%;
  }

  .imgDescription {
    text-align: center !important;
    padding-top: 20px;
  }

  .theprocess {
    font-size: 200%;
    margin-bottom: 0.5em;
    padding-top: 5px;
  }

  .img3Row {
    min-width: 300px;
  }

  .navpadding {
    margin-left: 10px;
    margin-right: 10px;
  }
}
/* test  */
.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  margin-left: 365px;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 200px;
  height: 115px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  position: fixed;
  z-index: 10;
  right: 10px;
  bottom: 10px;
  /*set the size of the result div:*/
  width: 500px;
  height: 300px;
  background: #f7f7f7;
}

/* 3js animation for index */
.canvas-container {
  text-align: center;
}
