/*
 * OUTER CSS LAYER
 */
body, html {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Lato";
  color: black;
  background-color: #ececee;
  padding-top: 150px;
  /*fade out effect */
  opacity: 1;
  transition: 1.5s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
h1, h2,h3, h4, h5, h6 {
  font-family: "Lato";
  color: black;
  font-weight: 600;
}

.remove-padding {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}
/* navbar navigation text css */
.navbar-brand {
  color: black;
  font-family: 'Lato';
  margin-right: 0rem;
  font-size: 1.6em;
  font-weight: 600;
  background-image: linear-gradient(to top, rgba(236,236,238,0));
}
.nav-link {
  color:black;
}

/* navbar up and down animation & gradient */
#navbar{
    position: absolute;   /* Initially set to absolute so it is movable with the page */
    top: 60px;
    display: block;
    background-image: linear-gradient(to top, rgba(236,236,238,0), rgba(236,236,238,.3),rgba(236,236,238,0.7), rgba(236,236,238,.95),#ececee,#ececee, #ececee);
    padding-bottom: 70px;
    will-change: transform; /* possibly helps w/ scrolling performance? */
}
/* spacing between navbar tabs */
.navbar-nav > li{
  margin-left:30px;
}

/* navbar tab sliding animation */
.sliding-middle-out {
	display: inline-block;
	position: relative;
  color: #374456;
}

.sliding-middle-out:after {
  width: 0;
	background: #374456;
  content: '';
	display: block;
	margin: auto;
	height: 3px;
	background: transparent;
	transition: width .2s ease, background-color .5s ease;
}

.sliding-middle-out.active:after, .sliding-middle-out:hover:after {
	width: 100%;
	background: #374456;
}

/* Tony Chan in navbar alignment when shrinking screen */
@media screen and (min-width: 992px) {
  .tonychan {
    margin-left: 15px;
    text-align: left;
  }
}
h1 { /* else align the header at at the center */
  text-align: center;
}
/* aligns nav buttons from right to mid when shrinking screen*/
@media screen and (min-width: 992px) {
  .right-to-center {
    float: right;
  }
}
.nav-elem-centerer {
  display: flex;
  justify-content: center;
}

/* BOX HOVER EFFECT */
.box {
  position: relative;
  display: inline-block;
  width: 800px;
  height: 310px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.box:hover {
  -webkit-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
}
.box:hover::after {
    opacity: 1;
}
/* box without the hover for ABOUT ME */
.box2 {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* modifies the link: no underline/ navy color effect when mouse hovers over it */
a:hover,
.a:hover {
   text-decoration: none !important;
   color: #374456;

}

/* Horizontalally centers boxes */
/*THIS IS ABLE TO CENTER PROPERLY AND ASSIGN MARGINS W/ MIN WIDTH PADDING, HOWEVER CAN'T RENAME AND REUSE W/ DIFFERENT WIDTHS?!*/
.modal-dialog{
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    height: auto;
    min-width: 90%;
}

/* horizontally centers elements inside box */
.modal-dialog-three{
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    height: auto;
    min-width: 50%;
}
/* horizontally centers elements inside box */
.modal-dialogtwo{
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    height: auto;
    min-width: 60%;
}

.row-centerer {
  width:90%;
  margin: auto;
}
.vertical-align {
    display: flex;
    align-items: center;
}
/*horizontally centers text/pics at small sizes*/
@media (max-width: 1824px) {
  .picCenter {
    text-align: right;
  }
  .paddingnigga {
      padding-top: 40px;
  }
}
@media (max-width: 990px) {
  .picCenter {
    text-align: center;
  }
  .niggacenter {
    text-align: center;
  }
  .paddingnigga {
      padding-top:0px;
  }
}



/* EACH ROW FOR BOXES (INCLUDES BACKGROUND) */
.content-section-a {
  padding: 100px 0;
  background-color: #ececee;
}
.content-section-b {
  padding: 10px 0;
  background-color: #ececee;
}

.section-heading {
  margin-bottom: 30px;
}
.spacer {
    margin-top: 40px; /* define margin as you see fit */
}
.projectheaderspacer {
    margin-top: 22px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  /*padding: 100px 0;*/
  color: #000000;
  /* if you want a background for the bottom set it here as background: */
  background-color: #ececee;
}

.banner h2 {
  margin: 0;

  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }
  ul.banner-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons>li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
  background-color: #f8f8f8;
}
p.copyright {
  color: #c4c4ca;
  font-size: 14px;
}

/* SOCIAL BUTTON CSS */
a.btn-social,
.btn-social{
    border-radius: 50%;
    color: black;
    display: inline-block;
    height: 54px;
    line-height: 54px;
    margin: 8px 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    webkit-transition: background-color .3s;
    width: 54px;
}.btn-social .fa,.btn-social i{
    backface-visibility: hidden;
    moz-backface-visibility: hidden;
    ms-transform: scale(1);
    o-transform: scale(1);
    transform: scale(1);
    transition: all .25s;
    webkit-backface-visibility: hidden;
    webkit-transform: scale(1);
    webkit-transition: all .25s;
}.btn-social:hover,.btn-social:focus
{
    color: #374456;
    outline: none;
    text-decoration: none;
}.btn-social:hover .fa,.btn-social:focus .fa,.btn-social:hover i,.btn-social:focus i
{
    ms-transform: scale(1.3);
    o-transform: scale(1.3);
    transform: scale(1.3);
    webkit-transform: scale(1.3);
}.btn-social.btn-lg{
    font-size: 22px;
    margin: 10px 20px;
    padding: 0rem 0rem;
}

/* increase carousel slide speed */
.carousel-item {
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}



/**************************** PROJECT ITEM CSS *****************************/
/* brackets */
.brackets {
  font: 20px/26px "Lato", sans-serif;
  background-image: linear-gradient(#00cdcd, #00cdcd),
    linear-gradient(#00cdcd, #00cdcd),
    linear-gradient(#00cdcd, #00cdcd),
    linear-gradient(#00cdcd, #00cdcd);

  background-repeat: no-repeat;
  background-size: 60px 3px;
  background-position: top left, top right, bottom left, bottom right;

  border: solid #00cdcd;
  text-align: justify;
  border-width: 0 3px;
  display: inline-block;
  vertical-align: top;
  padding: 20px 20px;
  margin: auto;
}
.brackets-text {
  font: 20px/26px "Lato", sans-serif;
  background-image: linear-gradient(#cf63c5, #cf63c5),
    linear-gradient(#cf63c5, #cf63c5),
    linear-gradient(#cf63c5, #cf63c5),
    linear-gradient(#cf63c5, #cf63c5);

  background-repeat: no-repeat;
  background-size: 15px 3px;
  background-position: top left, top right, bottom left, bottom right;

  border: solid #cf63c5;
  text-align: justify;
  border-width: 0 3px;
  display: inline-block;
  vertical-align: top;
  padding: 20px 20px;
  margin: auto;
}

.descriptionspacer {
    margin-top: 20px; /* used under pictures */
}
/* descreases margin size on sides of pictures within the box */
.row-centerer2 {
  width:97%;
  margin: auto;
}

/* horizontal allign */
.titlehoriz{
  display: flex;
  align-items: center;
  justify-content: center;
}
#theprocess {
  font-weight:500;
  font-size: 350%;
  border-style: solid;
  border-top: single  #ff0000;
  border-bottom: single  #ff0000;
  border-right:none;
  border-left:none;
  margin-bottom:0;
  margin-top:0;
  text-align: center;
}

/* move up scrolling animation */
@import "compass/css3";
* {
  @include box-sizing(border-box);
}
.module {
}
.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}
@keyframes come-in {
  to { transform: translateY(0); }
}

/* Index header animation CSS*/
.large-header{
  background:#ececee;
  text-align:center
}
#x-canvas{
opacity:0.5
}
