@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
body,
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  position: relative;
  padding-top: 130px;
  opacity: 1;
  transition: 0.2s opacity;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-weight: 700;
  font-family: "Work Sans", sans-serif;
}
p {
  line-height: 2;
  font-size: 14px;
}
.lead {
  font-weight: 400;
  color: #616161;
  font-size: 1.2em !important;
}
.quote {
  font-style: italic;
  color: #000 !important;
  font-size: 1.5em !important;
  margin-bottom: 2em;
  margin-top: 2em;
  word-spacing: 3px;
  text-align: justify;
}
.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}
.navbar-brand {
  margin-right: 0;
  font-size: 1.4em;
  font-weight: 600;
}
.letstalkpad {
  padding-top: 6vw;
}
#navbar {
  position: fixed;
  padding-top: 20px;
  padding-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
  transition: top 0.2s ease-in-out;
  -webkit-transition: top 0.2s ease-in-out;
  -moz-transition: top 0.2s ease-in-out;
  color: black;
  background: white;
}
.slideNavIn {
  animation-name: slideNavIn;
  -webkit-animation-name: slideNavIn;
  animation-timing-function: ease-in-out;
}
@keyframes slideNavIn {
  from {
    top: -140px;
  }

  to {
    top: 0px;
  }
}
.navbar-expand {
  transition: all 0.3s ease !important;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}
.wire-proj-hero {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
.animated {
  animation-duration: 400ms;
  animation-fill-mode: both;
  animation-delay: 2000ms;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}
.animatedDelay {
  animation-duration: 400ms;
  animation-fill-mode: both;
  animation-delay: 2400ms;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}
.fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}
.fadeOut {
  opacity: 1;
  animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
}
@-webkit-keyframes darkToLight {
  from {
    background-color: #1b1b1d;
  }

  to {
    background-color: #f7f7f7;
  }
}
.sliding-middle-out {
  display: inline-block;
  position: relative;
  color: inherit;
}
.sliding-middle-out:after {
  width: 0;
  background: #000;
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  background: 0 0;
  transition: width 0.2s ease, background-color 0.5s ease;
}
.sliding-middle-out.active:after,
.sliding-middle-out:hover:after {
  width: 100%;
  padding-left: 10px;
  background: #065fd4;
}
.tony-middle-out {
  display: inline-block;
  position: relative;
  color: inherit;
}
.tony-middle-out:after {
  width: 0;
  content: "";
  display: block;
  margin: auto;
  margin-top: 3px;
  margin-bottom: -3px;
  height: 3px;
  background: 0 0;
  transition: width 0.2s ease, background-color 0.5s ease;
}
.tony-middle-out.active:after,
.tony-middle-out:hover:after {
  width: 100%;
  background: #065fd4;
}
.active {
  color: #065fd4 !important;
}
.bullet {
  color: #94999d;
  line-height: 1.8;
  font-size: 10px;
  padding-top: 5px;
}
h1 {
  text-align: center;
}
.nav-elem-centerer {
  display: flex;
  justify-content: center;
}
.box {
  position: relative;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.box::after {
  content: "";
  border-radius: 2px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.box:hover {
  -webkit-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
}
.box:hover::after {
  opacity: 1;
}
.box:active {
  -webkit-transform: scale(0.98, 0.98);
  transform: scale(0.98, 0.98);
}
.box2 {
  position: relative;
  display: inline-block;
  background-color: #1b1b1d;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01),
    0 3px 24px rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  opacity: 0.85;
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.box2::after {
  content: "";
  border-radius: 2px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.01),
    0 3px 24px rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.box2:hover {
  -webkit-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
  opacity: 1;
}
.box2:hover::after {
  opacity: 1;
}
.box3 {
  position: relative;
  display: inline-block;
  background-color: #1b1b1d;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01),
    0 3px 24px rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  opacity: 0.85;
}
.a:hover,
a:hover {
  text-decoration: none !important;
  color: inherit !important;
}
.modal-dialogtwo {
  width: auto;
  height: auto;
}
.row-centerer {
  width: 86%;
  margin: auto;
}
@media screen and (max-width: 414px) {
  .row-centerer {
    width: 100%;
  }
}
.vertical-align {
  display: flex;
  align-items: center;
}
.content-section-a {
  padding: 100px 0;
  background-color: #fff;
}
.content-section-b {
  padding: 10px 0;
}
.section-heading {
  margin-bottom: 0;
}
.spacer {
  margin-top: 40px;
}
.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}
.banner {
  color: #000;
}
.banner h2 {
  margin: 0;
  font-size: 3em;
}
.banner ul {
  margin-bottom: 0;
}
footer {
  padding: 50px 0;
  background-color: #f8f8f8;
}
.btn-social,
a.btn-social {
  border-radius: 50%;
  color: #000;
  display: inline-block;
  height: 54px;
  line-height: 54px;
  margin: 8px 4px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  webkit-transition: background-color 0.3s;
  width: 54px;
}
.btn-social .fa,
.btn-social i {
  backface-visibility: hidden;
  moz-backface-visibility: hidden;
  ms-transform: scale(1);
  o-transform: scale(1);
  transform: scale(1);
  transition: all 0.25s;
  webkit-backface-visibility: hidden;
  webkit-transform: scale(1);
  webkit-transition: all 0.25s;
}
.btn-social:focus,
.btn-social:hover {
  outline: 0;
  text-decoration: none;
}
.btn-social:focus .fa,
.btn-social:focus i,
.btn-social:hover .fa,
.btn-social:hover i {
  ms-transform: scale(1.3);
  o-transform: scale(1.3);
  transform: scale(1.3);
  webkit-transform: scale(1.3);
}
.btn-social.btn-lg {
  font-size: 22px;
  margin: 10px 20px;
  padding: 0 0;
}
.descriptionspacer {
  margin-top: 15px;
}
.row-centerer2 {
  width: 99%;
  margin: auto;
}
.titlehoriz {
  display: flex;
  align-items: center;
  justify-content: center;
}
.theprocess {
  font-weight: 600;
  margin-bottom: 1.5em;
  margin-top: 4em !important;
  width: 100%;
  display: block;
  font-size: 2.4em;
}
.theprocessWrap {
  margin-top: -4em;
  justify-content: left;
}
.viewCaseStudy {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 10px;
}
.viewCaseStudyContainer {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.viewCaseStudyText {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 50px;
}
.respCoverPadding {
  padding-top: 20px;
}
.navpadding {
  margin-left: 40px;
  margin-right: 40px;
}
.nav-link {
  padding: 0 10px;
}
.dynamicdescription {
  max-width: 90%;
}
.dynamicthumbnail {
  max-width: 90%;
}
.white_bg {
  top: 0;
  background-color: #fff;
  height: 90vh;
  width: 100%;
  position: absolute;
  z-index: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 76%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 76%);
}
.fullWidthWork {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 900px) {
  .fullWidthWork {
    width: 75%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.img_shadow {
  box-shadow: 0 6px 11px rgba(0, 0, 0, 0.17);
  background: #fff;
}
.text_small {
  max-width: 40%;
  min-width: 300px;
  margin: auto;
}
.text_small p .intro {
  font-weight: 700;
  color: #000;
}
.text_medium {
  max-width: 50%;
  min-width: 300px;
  margin: auto;
}
.imgDescription {
  text-align: center !important;
}
.img3Row {
  max-width: 20%;
  min-width: 200px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
}
.img2Row {
  max-width: 40%;
  min-width: 300px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
}
.img1Row {
  max-width: 55%;
  min-width: 300px;
  width: 100%;
  margin: 0;
  text-align: center;
}
.img1RowLong {
  max-width: 85%;
  min-width: 350px;
  width: 100%;
  margin: 0;
  text-align: center;
}
.vid1Row {
  max-width: 550px;
  min-width: 350px;
  width: 100%;
  padding: 20px;
  margin: auto;
}
.vid1RowLong {
  max-width: 750px;
  min-width: 350px;
  width: 100%;
  padding: 30px;
  margin: auto;
}
.tonychan {
  font-size: 1.6em;
  font-weight: 900;
}
@media screen and (max-width: 1300px) {
  .row-centerer {
    width: 90%;
  }
}
@media screen and (min-width: 992px) {
  .tonychan {
    margin-left: 30px;
    text-align: left;
  }
  .right-to-center {
    float: right;
  }
}
@media (max-width: 767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }
}
@media screen and (max-width: 900px) {
  .dynamicdescription {
    max-width: 65%;
    min-width: 300px;
    margin: auto;
    padding-bottom: 20px;
  }
  .dynamicthumbnail {
    max-width: 70%;
  }
  .text_small {
    max-width: 65%;
  }
}
@media screen and (max-width: 1100px) {
  .respCoverPadding {
    padding-top: 40px;
  }
}
@media screen and (max-width: 994px) {
  .respCoverPadding {
    padding-top: 100px;
  }
}
@media screen and (max-width: 800px) {
  .respCoverPadding {
    padding-top: 150px;
  }
}
@media screen and (max-width: 600px) {
  .respCoverPadding {
    padding-top: 180px;
  }
  .viewCaseStudyContainer {
    flex-direction: column;
  }
  .viewCaseStudyText {
    padding-left: 0px;
  }
}
@media screen and (max-width: 414px) {
  .section-heading {
    margin-top: 15px;
  }
  .white_bg {
    top: -13vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
  }
  .lead {
    text-align: left !important;
    min-width: 300px !important;
    margin: auto !important;
  }
  .dynamicthumbnail {
    max-width: 80%;
  }
  .dynamicdescription {
    max-width: 80%;
  }
  .viewCaseStudy {
    margin-left: 0px;
  }
  .text_small {
    max-width: 80%;
  }
  .text_medium {
    max-width: 80%;
  }
  .imgDescription {
    text-align: center !important;
    padding-top: 20px;
  }
  .theprocess {
    font-size: 200%;
    margin-bottom: 0.5em;
    padding-top: 5px;
  }
  .img3Row {
    min-width: 300px;
  }
  .navpadding {
    margin-left: 25px;
    margin-right: 25px;
  }
}
