.dark-to-light {
  background-color: #f7f7f7;
  animation-name: darkToLight;
  -webkit-animation-name: darkToLight;
}
@keyframes darkToLight {
  0% {
    background-color: #f7f7f7;
  }

  100% {
    background-color: #f7f7f7;
  }
}
@-webkit-keyframes darkToLight {
  0% {
    background-color: #f7f7f7;
  }

  100% {
    background-color: #f7f7f7;
  }
}
