@font-face {
    font-family: 'Cocogoose';
    src: url("../Cocogoose-Pro-OTF.otf") format("opentype");
}

@font-face {
    font-family: 'Apercu';
    src: url("../apercu_regular_pro.otf") format("opentype");
}

/* --------------------

 GENERAL

-------------------- */
*{
  margin: 0;
  padding: 0;
  webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
      box-sizing: border-box;
}

html, body{
  min-height: 100%;
  width: 100%;
  height: 100%;
}

.image {
  display: block;
  /* width: 100%; */
  /* height: auto; */
}

.container:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* --------------------

HEADER

-------------------- */

/* grow animation on hover for items  */
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.2); }

/* NAVBAR */
* {
  box-sizing: border-box;
}
.navcontainer {
  width: 70%;
  margin: 0 auto;
}
/* dynamic resizing  */
@media only screen and (max-width:800px) {
  .navcontainer {
    width: 100%;
    margin: 0 auto;
  }
  /* top social auto centers at small screen sizes */
.flex-row-reverse{
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  padding-left: 20px;
}
}

ul li {
  display: inline;
  text-align: center;
}
a {
  display: inline-block;
  width: 25%;
  margin: 0;
  text-decoration: none;
  color: #333;
}
.two:hover ~ hr {
  margin-left: 26.5%;
}
.three:hover ~ hr {
  margin-left: 42%;
}
.four:hover ~ hr {
  margin-left: 61.7%;
}
.five:hover ~ hr {
  margin-left: 79.1%;
}
hr {
  width: 12%;
  margin: 9%;
  background: #CCE6CA;
  border: none;
  transition: .3s ease-in-out;
}

/* --------------------
navbar dropdown
-------------------- */

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}
.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);

    max-height: 300px;

}
li.dropdown:hover > .dropdown-menu {
    display: block;

    max-height: 300px;
    opacity: 1;
}

/* --------------------

 FOOTER

-------------------- */

.footer-content{
  width: 100%;
background-image: url('icons/SGF18_FooterOnly.png');
  height: 100px;
  position: relative;
  left: 0;
  bottom: 0;
}

/* top social */
.sponsor-logostop{
  position: relative;
  float: right;
  padding-right: 10px;
  padding-top: 10px;
}

/* bottomleft */
.sponsor-logos{
  position: relative;
  float: right;
  padding-right: 30px;
  padding-top: 50px;
}
.sponsor-logosleft{
  position: relative;
  float: left;
  padding-left: 30px;
  padding-top: 40px;
}

#sun-god-logo-footer{
  margin-right: 5px;
}


/* --------------------

 MEDIA QUERIES

-------------------- */
.dynamicfoliageright {
  width: 400;
  height: 400;
  z-index: 10000;
  margin-top: -380;
}
.dynamicfoliageleft {
  width: 400;
  height: 300;
  z-index: 10000;
  margin-top: -280;
}

@media (max-width:745px) {
  .dynamicfoliageright {
    width: 250;
    height: 250;
    z-index: 10000;
    margin-top: -249.49;
  }
  .dynamicfoliageleft {
    width: 250;
    height: 150;
    z-index: 10000;
    margin-top: -149;
  }
}
@media (max-width:414px) {
  .dynamicfoliageright {
    width: 0;
    height: 0;
    z-index: 10000;
    margin-top: 0;
  }
  .dynamicfoliageleft {
    width: 0;
    height: 0;
    z-index: 10000;
    margin-top: 0;
  }
}

.containerpaddingmain {
  padding-right: 80vw;
  padding-left: 15vw;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.containerpaddingmainmid {
  padding-right: 40vw;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width:700px) {
  .containerpaddingmain {
    padding-right: 80vw;
    padding-left: 0vw;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .containerpaddingmainmid {
    padding-right: 70vw;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
