@font-face {
    font-family: 'Cocogoose';
    src: url("../Cocogoose-Pro-OTF.otf") format("opentype");
}

/* --------------------

 GENERAL

-------------------- */
*{
  margin: 0;
  padding: 0;
  webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
      box-sizing: border-box;
}
html, body{
  min-height: 100%;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; - causes scrolling glitch in lineup expanding box */
  font-size: 20px;
}
body * {
  font-size: 14px;
}

/* --------------------

HEADER

-------------------- */

/* grow animation on hover for items  */
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.2); }

/* NAVBAR */
* {
  box-sizing: border-box;
}
.navcontainer {
  width: 70%;
  margin: 0 auto;
}
/* dynamic resizing  */
@media only screen and (max-width:800px) {
  .navcontainer {
    width: 100%;
    margin: 0 auto;
  }
}

ul li {
  display: inline;
  text-align: center;
}
a {
  display: inline-block;
  /* width: 25%; */
  margin: 0;
  text-decoration: none;
  color: #333;
}
.two:hover ~ hr {
  margin-left: 9%;
}
.three:hover ~ hr {
  margin-left: 42%;
}
.four:hover ~ hr {
  margin-left: 26.5%;
}
.five:hover ~ hr {
  margin-left: 79.1%;
}
hr {
  width: 12%;
  margin: 61.5%;
  background: #CCE6CA;
  border: none;
  transition: .3s ease-in-out;
}

/* --------------------
navbar dropdown
-------------------- */

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}
.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);

    max-height: 300px;

}
li.dropdown:hover > .dropdown-menu {
    display: block;

    max-height: 300px;
    opacity: 1;
}



/* general  */
.vertical-align {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.titlehoriz{
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-main-content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
/* --------------------

 FOOTER

-------------------- */
.footer-content{
  width: 100%;
background-image: url('icons/SGF18_FooterOnly.png');
  height: 100px;
  position: relative;
  left: 0;
  bottom: 0;
}

/* top social */
.sponsor-logostop{
  position: relative;
  float: right;
  padding-right: 10px;
  padding-top: 10px;
}

/* bottomleft */
.sponsor-logos{
  position: relative;
  float: right;
  padding-right: 30px;
  padding-top: 50px;
}
.sponsor-logosleft{
  position: relative;
  float: left;
  padding-left: 30px;
  padding-top: 40px;
}


.botbpadding {
  margin-top:-160px;
}

.dynamicfontsize {
  font-size: 1em
}

@media only screen and (max-width:1000px) {
  .dynamicfontsize {
    font-size: .8em
  }
}
@media only screen and (max-width:800px) {
  .dynamicfontsize {
    font-size: .6em
  }
  /* top social auto centers at small screen sizes */
.flex-row-reverse{
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
      padding-left: 22px;
}
}
