@font-face {
    font-family: Cocogoose;
    src: url("Cocogoose-Pro-OTF.otf") format("opentype");
}

@font-face {
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 200px) , screen and (max-height: 900px) {
  .padder {
    top:80px;
  }
}

.temppad {
    padding-top: 80px;
}

@media screen and (min-height: 900px), and (min-width: 200px) {
  .temppad {
    padding-top:95px;
  }
}
@media screen and (max-width: 200px) , screen and (max-height: 900px){
  .temppad {
      padding-top: 30px;
    }
}


#demo{

	font-size:60px;
  /* font  */
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;


	color: #d64d32;
	text-align:center;
	margin-bottom:-10px;
	margin-top: 25px;

  word-spacing: 1.5vw;
	/* text-shadow:4px 4px rgba(37,67,186,1); */
}

.countdownWrapper{
	margin-top:-15px;
}

.subHead{
	font-family: "Century Gothic", sans-serif;
	font-size: 30px;
	text-align: center;
	color: #00A79C;
	margin-top:5px;
	text-transform: uppercase;
	/*color: #014477;*/
	letter-spacing: 3px;
	/* text-shadow:3px 3px rgba(37,67,186,1); */
}

body{
background: url('bg.png');
background-position: bottom;
background-attachment: fixed;


background-repeat: no-repeat;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}

img{
	margin-bottom:0px;
  max-width:150px;
}
.img-center {
    display: block;
    margin: 0 auto;
}

/* grow animation on hover for picture links  */
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.2); }


.titlehoriz{
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-align {
  display: block;
  vertical-align: middle;
}

.datesize {
  max-width: 42%;
}

.countdowndatetext {
  /* font  */
  font-family: Cocogoose;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  color: #d64d32;

  word-spacing: 10.2vw;
}

.indexbuttons {
  max-width: 90%;
  min-width: 130px;
}

/* index resizing verticle */
@media (max-height:680px){
  .indexbuttons {
    max-width: 50%;
    min-width: 100px;
  }
}
@media (max-height:550px){
  .indexbuttons {
    max-width: 30%;
    min-width: 100px;
  }
}


/* icon responsive */
@media ( max-width:769px) {
  .indexbuttons {
    max-width: 30%;
      min-width: 150px;
  }
}

/* countdown responsive */
@media ( max-width:580px) {
	#demo{
    font-size:50px;
  }
}
/* galaxy s5 size */
@media ( max-width:423px) {
	#demo{
    font-size:42px;
  }
  .datesize {
    max-width: 82%;
  }
}
/* iphone6 size */
@media ( max-width:360px) {
	#demo{
    font-size:39px;
  }
  .datesize {
    max-width: 82%;
  }
}
/* iphone 5 size */
@media ( max-width:320px) {
	#demo{
    font-size:35px;
  }
  .datesize {
    max-width: 82%;
  }
}

/* text under countdown (day hour min sec) responsive  */
@media (max-width:4730px) {
    .countdowndatetext{  word-spacing: 5vw;}
}
@media (max-width:4620px) {
    .countdowndatetext{  word-spacing: 5vw;}
}
@media (max-width:4510px) {
    .countdowndatetext{  word-spacing: 5vw;}
}
@media (max-width:4400px) {
    .countdowndatetext{  word-spacing: 5.2vw;}
}
@media (max-width:4290px) {
    .countdowndatetext{  word-spacing: 5.2vw;}
}
@media (max-width:4180px) {
    .countdowndatetext{  word-spacing: 5.2vw;}
}
@media (max-width:4070px) {
    .countdowndatetext{  word-spacing: 5.2vw;}
}
@media (max-width:3960px) {
    .countdowndatetext{  word-spacing: 5.2vw;}
}
@media (max-width:3850px) {
    .countdowndatetext{  word-spacing: 5.4vw;}
}
@media (max-width:3740px) {
    .countdowndatetext{  word-spacing: 5.4vw;}
}
@media (max-width:3630px) {
    .countdowndatetext{  word-spacing: 5.5vw;}
}
@media (max-width:3520px) {
    .countdowndatetext{  word-spacing: 5.5vw;}
}
@media (max-width:3410px) {
    .countdowndatetext{  word-spacing: 5.5vw;}
}
@media (max-width:3300px) {
    .countdowndatetext{  word-spacing: 5.7vw;}
}
@media (max-width:3190px) {
    .countdowndatetext{  word-spacing: 5.9vw;}
}
@media (max-width:3080px) {
    .countdowndatetext{  word-spacing: 6.1vw;}
}
@media (max-width:2970px) {
    .countdowndatetext{  word-spacing: 6.2vw;}
}


@media (max-width:2860px) {
    .countdowndatetext{  word-spacing: 6.3vw;}
}
@media (max-width:2750px) {
    .countdowndatetext{  word-spacing: 6.5vw;}
}
@media (max-width:2640px) {
    .countdowndatetext{  word-spacing: 6.5vw;}
}
@media (max-width:2530px) {
    .countdowndatetext{  word-spacing: 6.5vw;}
}
@media (max-width:2420px) {
    .countdowndatetext{  word-spacing: 6.7vw;}
}
@media (max-width:2310px) {
    .countdowndatetext{  word-spacing: 6.9vw;}
}
@media (max-width:2200px) {
    .countdowndatetext{  word-spacing: 7.3vw;}
}
@media (max-width:2090px) {
    .countdowndatetext{  word-spacing: 7.4vw;}
}
@media (max-width:1980px) {
    .countdowndatetext{  word-spacing: 7.5vw;}
}
@media (max-width:1870px) {
    .countdowndatetext{  word-spacing: 8vw;}
}
@media (max-width:1760px) {
    .countdowndatetext{  word-spacing: 8.1vw;}
}
@media (max-width:1650px) {
    .countdowndatetext{  word-spacing: 8.3vw;}
}
@media (max-width:1540px) {
    .countdowndatetext{  word-spacing: 8.9vw;}
}
@media (max-width:1320px) {
    .countdowndatetext{  word-spacing: 10vw;}
}
@media (max-width:1200px) {
    .countdowndatetext{  word-spacing: 10.4vw;}
}
@media (max-width:1100px) {
    .countdowndatetext{  word-spacing: 11.3vw;}
}
@media (max-width:990px) {
    .countdowndatetext{  word-spacing: 12vw;}
}
@media (max-width:900px) {
    .countdowndatetext{  word-spacing: 13.5vw;}
}
@media (max-width:780px) {
    .countdowndatetext{word-spacing: 15vw;}
}
@media (max-width:680px) {
    .countdowndatetext{word-spacing: 17.5vw;}
}
@media (max-width:580px) {
    .countdowndatetext{word-spacing: 15.4vw;}
}
@media ( max-width:520px) {
    .countdowndatetext{word-spacing: 16.8vw;}
}
@media ( max-width:470px) {
    .countdowndatetext{word-spacing: 18vw;}
}
@media ( max-width:423px) {
    .countdowndatetext{word-spacing: 16vw;}
}
