body {
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.item {
  width: 200px;
  margin: 50px auto;
  max-height: 250px;
  padding: 75px 20px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}
.item span {
  display: block;
  font-size: 1rem;
}
.item--primary {
  position: fixed;
  top: -1100px;
  bottom: 0;
  margin: auto;
  right: -60px;
  background: rgba(245, 245, 245, 0.0);
}
.item--secondary {
  position: fixed;
  top: -1100px;
  bottom: 0;
  margin: auto;
  left: -60px;
  background: rgba(245, 245, 245, 0.0);
}
