* { margin: 0; padding: 0; }

#note {
  position: fixed;
  z-index: 6001;
  bottom: 0;
  left: 0;
  right: 0;
  background: #10302b;
  color: #CCE6CA;
  text-align: center;
  line-height: 3;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
  margin: 10px;
  margin-left: 300px;
  margin-right: 300px;
}

.cssanimations.csstransforms #note {
  -webkit-transform: translateY(100px);
  -webkit-animation: slideDown 13s 2.0s 1 ease forwards;
  -moz-transform: translateY(100px);
  -moz-animation: slideDown 13s 2.0s 1 ease forwards;
}

@-webkit-keyframes slideDown {
  0%,
  100% {
    -webkit-transform: translateY(100px);
  }
  10%,
  90% {
    -webkit-transform: translateY(0px);
  }
}

@-moz-keyframes slideDown {
  0%,
  100% {
    -moz-transform: translateY(100px);
  }
  10%,
  90% {
    -moz-transform: translateY(0px);
  }
}

@media only screen and (max-width: 1050px) {
  #note {
    position: fixed;
    z-index: 6001;
    bottom: 0;
    left: 0;
    right: 0;
    background: #10302b;
    color: #CCE6CA;
    text-align: center;
    line-height: 3;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    margin: 10px;
    margin-left: 200px;
    margin-right: 200px;
  }
}
@media only screen and (max-width: 850px) {
  #note {
    position: fixed;
    z-index: 6001;
    bottom: 0;
    left: 0;
    right: 0;
    background: #10302b;
    color: #CCE6CA;
    text-align: center;
    line-height: 3;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media only screen and (max-width: 650px) {
  #note {
    position: fixed;
    z-index: 6001;
    bottom: 0;
    left: 0;
    right: 0;
    background: #10302b;
    color: #CCE6CA;
    text-align: center;
    line-height: 3;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
