@font-face {
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
}

@font-face {
    font-family: 'Cocogoose';
    src: url("Cocogoose-Pro-OTF.otf") format("opentype");
}

@font-face {
  font-family: "Century Gothic", sans-serif;
  font-weight: normal;
}

@media screen and (max-width: 200px) , screen and (max-height: 900px) {
  .padder {
    top:80px;
  }
}

.temppad {
    padding-top: 80px;
}

@media screen and (min-height: 900px), and (min-width: 200px) {
  .temppad {
    padding-top:95px;
  }
}
@media screen and (max-width: 200px) , screen and (max-height: 900px){
  .temppad {
      padding-top: 30px;
    }
}


.countdownWrapper{
	margin-top:-15px;
}

.subHead{
	font-family: "Century Gothic", sans-serif;
	font-size: 30px;
	text-align: center;
	color: #00A79C;
	margin-top:5px;
	text-transform: uppercase;
	/*color: #014477;*/
	letter-spacing: 3px;
	/* text-shadow:3px 3px rgba(37,67,186,1); */
}

body{
/* background: url('bg.png'); */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}

img{
	margin-bottom:0px;
  max-width:150px;
}

.vertical-align {
  display: block;
  vertical-align: middle;
}

.countdowndatetext {
  /* font  */
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  color: #256DE0;

  word-spacing: 19.4vh;
}

/* countdown responsive */
@media ( max-width:580px) {
	#demo{
    font-size:50px;
  }
}
@media ( max-width:430px) {
	#demo{
    font-size:40px;
  }
}

/* text under countdown (day hour min sec) responsive  */
@media (max-width:980px) {
    .countdowndatetext{  word-spacing: 18vh;}
}
@media (max-width:780px) {
    .countdowndatetext{word-spacing: 17vh;}
}
@media (max-width:580px) {
    .countdowndatetext{word-spacing: 13vh;}
}
@media ( max-width:430px) {
    .countdowndatetext{word-spacing: 9vh;}
}
